<script setup>
import { GraphQLClient, gql } from 'graphql-request';
import { ref } from 'vue';

const query = gql`
  query GetAxieDetail($axieId: ID!) {
    axie(axieId: $axieId) {
      owner
      __typename
    }
  }
`;

const client = new GraphQLClient(
  'https://graphql-gateway.axieinfinity.com/graphql'
);
const res = await client.request(query, { axieId: 1621247 });

console.log(res);

const address = ref('');
</script>

<template>
  <input v-model="address" />
  {{ address }}
</template>

<style scoped>
a {
  color: #42b983;
}
</style>
